<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="description" content="Toidicode.com - chat socket">
      <meta name="author" content="Thanh Tài">
      <link rel="canonical" href="http://toidicode.com/" />
<meta property="og:locale" content="en_US" />
<meta property="og:type" content="website" />
<meta property="og:title" content="Học lập trình online - Toidicode.com" />
<meta property="og:description" content="Chia sẻ kiến thức lập trình và kiến thức marketing online đến mọi người" />
<meta property="og:url" content="http://toidicode.com/" />
<meta property="og:site_name" content="Toidicode.com" />
<meta property="og:image" content="http://toidicode.com/wp-content/uploads/2016/09/default.png" />
<meta property="og:image:width" content="600" />
<meta property="og:image:height" content="312" />
<meta name="twitter:card" content="summary" />
<meta name="twitter:description" content="Chia sẻ kiến thức lập trình và kiến thức marketing online đến mọi người" />
<meta name="twitter:title" content="Học lập trình online - Toidicode.com" />
<meta name="twitter:image" content="http://toidicode.com/wp-content/uploads/2016/09/default.png" />
<link rel="shortcut icon" href="http://toidicode.com/wp-content/uploads/2016/10/fac.gif" type="image/x-icon" />  
      <title>Toidicode.com - chat socket</title>
      <!-- Latest compiled and minified CSS -->
      <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
      <!-- Optional theme -->
      <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
      <script src="/socket.io/socket.io.js"></script>
      <script src="/io.js"></script>
      <link rel="stylesheet" href="/style.css">
   </head>
   <body role="document">
      <!-- Fixed navbar -->
      <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
         <div class="container">
            <div class="navbar-header">
               <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
               <span class="sr-only">Toggle navigation</span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               </button>
               <a class="navbar-brand" href="http://toidicode.com/">Toidicode.com</a>
            </div>
            <div class="navbar-collapse collapse">
               <ul class="nav navbar-nav">
                  
               </ul>
            </div>
            <!--/.nav-collapse -->
         </div>
      </div>
      <div class="container theme-showcase" role="main">
         <!-- Main jumbotron for a primary marketing message or call to action -->
         <div class="jumbotron" id="dt" style="margin-top:100px;overflow-y:scroll;height:300px;">
            <h3><a href="http://toidicode.com">Toidicode.com</a></h3>
         </div>
         <div class="row">
            <div class="col-lg-5">
               <input type="text" name="username"  id='user' class="form-control" placeholder="nhập username xong ấn enter để submit">
            </div>
            <div class="col-lg-5">
               <input type="text" class="form-control" id="content" placeholder="Nhập nội dung để chat">
            </div>
            <div class="col-lg-2">
               <input type="submit" class="form-control btn btn-primary" id="sub" value="Chat">
            </div>
         </div>
      </div>
      <!-- /container -->
      <!-- Bootstrap core JavaScript
         ================================================== -->
      <!-- Placed at the end of the document so the pages load faster -->
      <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
   </body>
</html>